

.bio {
    overflow: hidden;
    height: 100px;
}

body {
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}
.card {
    border: 2px solid rgb(175, 111, 16) !important;
}

.card-text.bio {
    margin-bottom: 5px !important;
}

.container {
    text-align: center;
    background-color: rgb(0, 0, 0);
}


#container-foto-cab img{
    width: 100%;
    object-fit: cover;
}

html body .container {
    background-color: rgb(0, 0, 0);
    color: rgb(175, 111, 16);
   
}

html body {
    height: 100%;
    margin: 0;

}
main {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.navbar a{
    color: rgb(175, 111, 16) !important;

}


.title {
    text-align: center;
    color: rgb(175, 111, 16);
}






